/* line 5, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 18, ../sass/_theme.scss */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ol, ul, table {
  margin: 0 0 0.8em;
  line-height: 1.55em;
}

/* line 22, ../sass/_theme.scss */
h1 {
  font-size: 1.65em;
  font-weight: 400;
}

/* line 26, ../sass/_theme.scss */
h2 {
  font-size: 1.25em;
  font-weight: 400;
}

/* line 30, ../sass/_theme.scss */
h3 {
  font-size: 1.05em;
  font-weight: 700;
}

/* line 34, ../sass/_theme.scss */
a {
  color: inherit;
}

/* line 37, ../sass/_theme.scss */
strong {
  font-weight: 700;
}

/* line 40, ../sass/_theme.scss */
.text-centre {
  text-align: center;
}

/**
 * Swiper 3.3.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 *
 * http://www.idangero.us/swiper/
 *
 * Copyright 2016, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 *
 * Licensed under MIT
 *
 * Released on: January 10, 2016
 */
/* line 15, ../sass/_swiper.scss */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
}

/* line 22, ../sass/_swiper.scss */
.swiper-container-no-flexbox .swiper-slide {
  float: left;
}

/* line 25, ../sass/_swiper.scss */
.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* line 32, ../sass/_swiper.scss */
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 51, ../sass/_swiper.scss */
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

/* line 59, ../sass/_swiper.scss */
.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 66, ../sass/_swiper.scss */
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

/* line 74, ../sass/_swiper.scss */
.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

/* Auto Height */
/* line 83, ../sass/_swiper.scss */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

/* line 87, ../sass/_swiper.scss */
.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform, height;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform, height;
}

/* a11y */
/* line 99, ../sass/_swiper.scss */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

/* IE10 Windows Phone 8 Fixes */
/* line 108, ../sass/_swiper.scss */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

/* line 112, ../sass/_swiper.scss */
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

/* Arrows */
/* line 117, ../sass/_swiper.scss */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  z-index: 50;
  cursor: pointer;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 128, ../sass/_swiper.scss */
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  display: none;
  cursor: auto;
  pointer-events: none;
}

/* Pagination Styles */
/* line 136, ../sass/_swiper.scss */
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

/* line 149, ../sass/_swiper.scss */
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

/* Common Styles */
/* line 153, ../sass/_swiper.scss */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}

/* Bullets */
/* line 161, ../sass/_swiper.scss */
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #fff;
  opacity: 0.9;
}

/* line 169, ../sass/_swiper.scss */
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/* line 179, ../sass/_swiper.scss */
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

/* line 182, ../sass/_swiper.scss */
.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}

/* line 185, ../sass/_swiper.scss */
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #ff0b8e;
}

/* line 189, ../sass/_swiper.scss */
.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}

/* line 192, ../sass/_swiper.scss */
.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}

/* line 195, ../sass/_swiper.scss */
.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  -moz-transform: translate3d(0px, -50%, 0);
  -o-transform: translate(0px, -50%);
  -ms-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0);
}

/* line 204, ../sass/_swiper.scss */
.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}

/* line 208, ../sass/_swiper.scss */
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}

/* Progress */
/* line 212, ../sass/_swiper.scss */
.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

/* line 216, ../sass/_swiper.scss */
.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #ff0b8e;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
}

/* line 233, ../sass/_swiper.scss */
.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
}

/* line 240, ../sass/_swiper.scss */
.swiper-container-horizontal > .swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

/* line 246, ../sass/_swiper.scss */
.swiper-container-vertical > .swiper-pagination-progress {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

/* line 252, ../sass/_swiper.scss */
.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.5);
}

/* line 255, ../sass/_swiper.scss */
.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
  background: #fff;
}

/* line 258, ../sass/_swiper.scss */
.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
  background: #000;
}

/* 3D Container */
/* line 262, ../sass/_swiper.scss */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
}

/* line 268, ../sass/_swiper.scss */
.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 280, ../sass/_swiper.scss */
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

/* line 292, ../sass/_swiper.scss */
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}

/* line 304, ../sass/_swiper.scss */
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}

/* line 316, ../sass/_swiper.scss */
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}

/* line 328, ../sass/_swiper.scss */
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}

/* Coverflow */
/* line 341, ../sass/_swiper.scss */
.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px;
}

/* Cube + Flip */
/* line 347, ../sass/_swiper.scss */
.swiper-container-cube,
.swiper-container-flip {
  overflow: visible;
}

/* line 351, ../sass/_swiper.scss */
.swiper-container-cube .swiper-slide,
.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

/* line 360, ../sass/_swiper.scss */
.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

/* line 364, ../sass/_swiper.scss */
.swiper-container-cube .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

/* line 370, ../sass/_swiper.scss */
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Cube */
/* line 385, ../sass/_swiper.scss */
.swiper-container-cube .swiper-slide {
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

/* line 394, ../sass/_swiper.scss */
.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

/* line 400, ../sass/_swiper.scss */
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}

/* line 407, ../sass/_swiper.scss */
.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0;
}

/* Fade */
/* line 420, ../sass/_swiper.scss */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 427, ../sass/_swiper.scss */
.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

/* line 434, ../sass/_swiper.scss */
.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

/* line 437, ../sass/_swiper.scss */
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

/* Scrollbar */
/* line 442, ../sass/_swiper.scss */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

/* line 448, ../sass/_swiper.scss */
.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

/* line 456, ../sass/_swiper.scss */
.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

/* line 464, ../sass/_swiper.scss */
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

/* line 473, ../sass/_swiper.scss */
.swiper-scrollbar-cursor-drag {
  cursor: move;
}

/* Preloader */
/* line 477, ../sass/_swiper.scss */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

/* line 493, ../sass/_swiper.scss */
.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

/* line 504, ../sass/_swiper.scss */
.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}
/* line 518, ../sass/_swiper.scss */
.swiper-container {
  width: 100%;
  height: 100%;
}

/* line 522, ../sass/_swiper.scss */
.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?eee3i2");
  src: url("../fonts/icomoon.eot?eee3i2#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?eee3i2") format("truetype"), url("../fonts/icomoon.woff?eee3i2") format("woff"), url("../fonts/icomoon.svg?eee3i2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/_icomoon.scss */
.icm[class^="icon-"], .icm[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 27, ../sass/_icomoon.scss */
.icm.icon-2:before {
  content: "\e900";
}
/* line 30, ../sass/_icomoon.scss */
.icm.icon-3:before {
  content: "\e901";
}
/* line 33, ../sass/_icomoon.scss */
.icm.icon-4:before {
  content: "\e902";
}
/* line 36, ../sass/_icomoon.scss */
.icm.icon-5:before {
  content: "\e903";
}
/* line 39, ../sass/_icomoon.scss */
.icm.icon-6:before {
  content: "\e904";
}
/* line 42, ../sass/_icomoon.scss */
.icm.icon-7:before {
  content: "\e905";
}
/* line 45, ../sass/_icomoon.scss */
.icm.icon-8:before {
  content: "\e906";
}
/* line 48, ../sass/_icomoon.scss */
.icm.icon-9:before {
  content: "\e907";
}
/* line 51, ../sass/_icomoon.scss */
.icm .icon-10:before {
  content: "\e908";
}
/* line 54, ../sass/_icomoon.scss */
.icm .icon-11:before {
  content: "\e909";
}
/* line 57, ../sass/_icomoon.scss */
.icm .icon-12:before {
  content: "\e90a";
}
/* line 60, ../sass/_icomoon.scss */
.icm .icon-13:before {
  content: "\e90b";
}
/* line 63, ../sass/_icomoon.scss */
.icm .icon-14:before {
  content: "\e90c";
}
/* line 66, ../sass/_icomoon.scss */
.icm .icon-15:before {
  content: "\e90d";
}
/* line 69, ../sass/_icomoon.scss */
.icm.icon-1:before {
  content: "\e90e";
}

/* line 11, ../sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/style.scss */
*:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/style.scss */
html, body {
  position: relative;
  height: 100%;
}

/* line 17, ../sass/style.scss */
body {
  font-family: "futura-pt",sans-serif;
  font-size: 18px;
  font-size: 1.23vw;
  font-weight: 300;
  color: #ffffff;
  background: url("../images/shift-bg.png") no-repeat 50% 50% #1e0be5;
  background-size: auto 100%;
}

/* line 29, ../sass/style.scss */
#sliding-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
/* line 37, ../sass/style.scss */
#sliding-content .swiper-slide .content {
  width: 55%;
}
/* line 39, ../sass/style.scss */
#sliding-content .swiper-slide .content ul {
  list-style: disc outside;
  padding-left: 1.25em;
}
/* line 43, ../sass/style.scss */
#sliding-content .swiper-slide .content ol {
  width: 100%;
  list-style: decimal outside;
  text-align: left;
}
/* line 48, ../sass/style.scss */
#sliding-content .swiper-slide .content ol li {
  padding: 0.65em 0 0.65em 0.65em;
}
/* line 51, ../sass/style.scss */
#sliding-content .swiper-slide .content ol li:after {
  content: "";
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-left: -2em;
  top: 0.65em;
  position: relative;
}
/* line 61, ../sass/style.scss */
#sliding-content .swiper-slide .content li {
  line-height: 1.2em;
  padding: 0.3em 0;
}
/* line 65, ../sass/style.scss */
#sliding-content .swiper-slide .content blockquote {
  font-size: 0.9em;
  font-style: italic;
  opacity: 0.8;
  margin: 0.5em;
}
/* line 71, ../sass/style.scss */
#sliding-content .swiper-slide .content h1, #sliding-content .swiper-slide .content h2 {
  text-align: center;
}
/* line 74, ../sass/style.scss */
#sliding-content .swiper-slide .content a {
  color: #63CAFD;
  text-decoration: none;
}
/* line 77, ../sass/style.scss */
#sliding-content .swiper-slide .content a:hover, #sliding-content .swiper-slide .content a:focus {
  color: #7cd3fd;
  text-decoration: underline;
}
/* line 83, ../sass/style.scss */
#sliding-content .swiper-slide .detail {
  display: block;
  text-decoration: none;
  width: 11vw;
  height: 11vw;
  font-size: 2.0625vw;
  line-height: 1.75em;
  -moz-border-radius: 5.5vw;
  -webkit-border-radius: 5.5vw;
  border-radius: 5.5vw;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  white-space: nowrap;
}
/* line 95, ../sass/style.scss */
#sliding-content .swiper-slide .detail.length {
  padding-top: 1.1em;
  margin-left: 3em;
}
/* line 99, ../sass/style.scss */
#sliding-content .swiper-slide .detail.team {
  padding-top: 0.85em;
  margin-right: 3em;
}
/* line 103, ../sass/style.scss */
#sliding-content .swiper-slide .detail img {
  display: inline;
  height: 1.6em;
  width: auto;
  vertical-align: bottom;
}
/* line 110, ../sass/style.scss */
#sliding-content .swiper-slide a.detail:hover {
  background: rgba(255, 255, 255, 0.1);
  border-color: #fff;
}
/* line 115, ../sass/style.scss */
#sliding-content .swiper-slide.intro-slide .activities {
  list-style: none;
  padding-left: 0;
}
/* line 118, ../sass/style.scss */
#sliding-content .swiper-slide.intro-slide .activities li {
  line-height: 1.2em;
  padding: 0.4em 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 123, ../sass/style.scss */
#sliding-content .swiper-slide.intro-slide .activities li:after {
  content: "";
  display: block;
  clear: both;
}
/* line 129, ../sass/style.scss */
#sliding-content .swiper-slide.intro-slide .activities a {
  text-decoration: none;
}
/* line 132, ../sass/style.scss */
#sliding-content .swiper-slide.intro-slide .activities .details {
  height: 1.2em;
  float: right;
  font-size: 0.8em;
  height: 1.6em;
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  align-items: center;
}
/* line 141, ../sass/style.scss */
#sliding-content .swiper-slide.intro-slide .activities .details img {
  height: 1.5em;
  margin: 0 0.75em;
}
/* line 148, ../sass/style.scss */
#sliding-content .swiper-slide.intro-slide .activities .details .length {
  min-width: 2.3em;
}
/* line 151, ../sass/style.scss */
#sliding-content .swiper-slide.intro-slide .activities .details .team {
  min-width: 4em;
}
/* line 157, ../sass/style.scss */
#sliding-content .swiper-slide.swiper-slide-h {
  text-align: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
/* line 164, ../sass/style.scss */
#sliding-content .swiper-horizontal-slide {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 170, ../sass/style.scss */
#sliding-content .swiper-vertical-slide {
  overflow: hidden;
}
/* line 173, ../sass/style.scss */
#sliding-content .swiper-button.container-button {
  width: 26px;
  height: 10%;
  left: 50%;
  margin-left: -13px;
  background-image: url("../images/container-down.png");
  z-index: 50;
}
/* line 180, ../sass/style.scss */
#sliding-content .swiper-button.container-button.swiper-button-next {
  bottom: 0;
}
/* line 183, ../sass/style.scss */
#sliding-content .swiper-button.container-button.swiper-button-prev {
  top: 0;
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
/* line 189, ../sass/style.scss */
#sliding-content nav.listing-items {
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 0 auto;
  justify-content: center;
}
/* line 195, ../sass/style.scss */
#sliding-content nav.listing-items a {
  line-height: 1.2em;
  padding: 0.2em 0.3em;
  margin: 0 0.3em;
}

/* line 207, ../sass/style.scss */
.content-slide {
  background: no-repeat 50% 50%;
  background-size: cover;
  color: #ffffff;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 214, ../sass/style.scss */
.content-slide .spacer {
  width: 100%;
  height: 12%;
}
/* line 218, ../sass/style.scss */
.content-slide .content {
  margin: 0 10% 0.75em;
  font-size: 2em;
  line-height: 1.05em;
}
/* line 222, ../sass/style.scss */
.content-slide .content * {
  line-height: inherit;
}

/* line 228, ../sass/style.scss */
.swiper-vertical-slide > .content {
  font-size: 1.25em;
}

/* line 232, ../sass/style.scss */
.swiper-horizontal-slide .swiper-slide {
  z-index: 20;
}
/* line 236, ../sass/style.scss */
.swiper-horizontal-slide .swiper-slide.slide-type-session, .swiper-horizontal-slide .swiper-slide.slide-type-activity {
  font-size: 1.15em;
}

/* line 243, ../sass/style.scss */
.swiper-button.horizontal-slider-button {
  width: 33px;
  height: 30px;
  top: 50%;
  margin-top: -15px;
  background-image: url("../images/images-next.png");
  z-index: 50;
}
/* line 250, ../sass/style.scss */
.swiper-button.horizontal-slider-button.swiper-button-next {
  right: 4.65%;
  background-position: 100% 50%;
}
/* line 254, ../sass/style.scss */
.swiper-button.horizontal-slider-button.swiper-button-prev {
  left: 4.65%;
  background-position: 0 50%;
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* line 261, ../sass/style.scss */
#sliding-content .abs-pos-element {
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/* line 266, ../sass/style.scss */
#bg-symbols {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  font-size: 21px;
}
/* line 275, ../sass/style.scss */
#bg-symbols .container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 284, ../sass/style.scss */
#bg-symbols .symbol {
  display: block;
  position: absolute;
  width: 1em;
  line-height: 1em;
  margin: -0.5em 0 0 -0.5em;
  opacity: 0;
  -moz-transition: opacity 0.5s, -moz-transform 10s;
  -o-transition: opacity 0.5s, -o-transform 10s;
  -webkit-transition: opacity 0.5s, -webkit-transform 10s;
  transition: opacity 0.5s, transform 10s;
  color: #d4ef00;
}

/* line 297, ../sass/style.scss */
.slide-intro img {
  width: 25vw;
  height: auto;
}

/* line 302, ../sass/style.scss */
#countdown-timer {
  font-size: 13vw;
  font-weight: 700;
  letter-spacing: 0.07em;
  cursor: pointer;
}
/* line 307, ../sass/style.scss */
#countdown-timer small {
  display: block;
  font-size: 0.1em;
  opacity: 0.5;
  letter-spacing: 0.2em;
}

/* line 314, ../sass/style.scss */
#round-robin {
  width: 100%;
  font-size: 1.6vw;
}
/* line 317, ../sass/style.scss */
#round-robin .giant-input {
  outline: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  background: none !important;
  border: 0;
  color: #ffffff;
  width: 100%;
  text-align: center;
}
/* line 328, ../sass/style.scss */
#round-robin table.schedule {
  margin: 0 auto;
}
/* line 330, ../sass/style.scss */
#round-robin table.schedule th, #round-robin table.schedule td {
  padding: 0.3em 0.7em;
  vertical-align: middle;
  text-align: center;
}
/* line 335, ../sass/style.scss */
#round-robin table.schedule th {
  font-weight: 700;
}

/* line 342, ../sass/style.scss */
.swiper-vertical-slide:first-child > .content img {
  width: 21vw;
}

/* line 347, ../sass/style.scss */
.wf-loading h1, .wf-loading p, .wf-loading .wf-type {
  visibility: hidden;
}

/* line 353, ../sass/style.scss */
.wf-active h1, .wf-active p, .wf-active .wf-type, .wf-inactive h1, .wf-inactive p, .wf-inactive .wf-type {
  visibility: visible;
}
